.product {
    display: flex;
    align-items: center;
    justify-content: center;
}
.productManagement {
    width: 1000px;
    height: 0 auto;
}
.productManagement h3{
    float:left;
    margin:50px;
}
.product_container{
    display: inline-block;
    width: 1000px;
    height: 0 auto;
    border:1px solid #494949;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}
.product_table {
    display: inline-block;
    margin:50px;
    width: 900px;
    height: 0 auto;
    border:0.5px solid #494949;
    background-color: rgb(252, 252, 252);
    border-collapse: collapse;
}
thead {
    background-color: rgb(235, 235, 235);
}
td,th{
    width:900px;
    height: 50px;
    border-bottom:0.5px dotted #494949;
}
.product_button {
    float: right;
    margin:30px;
    width: 130px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    background-color: #8EC2FF;
    border:none;
    border-radius: 5px;
}
.pagination button{
    width: 40px;
    height: 30px;
    border:1px solid gray;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 16px;
    margin:10px;
}