/* category */
.category {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.category button {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}
.category button:hover {
  background-color: #10e195;
}
.sub_category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.sub_category button {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

.category li {
  list-style-type: none;
  position: left;
  display: inline-block;
}
.content_navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_navbar a {
  font-weight: bold;
  padding: 20px;
  color: #000000;
}
.content_navbar a:hover {
  color: rgb(0, 4, 255);
}
.option {
  height: 20px;
  float: right;
}
.option_btn {
  width: 100px;
  height: 20px;
  background-color: #10e195;
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 0);
}
.product_Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_Detail {
  width: 90%;
  height: 0 auto;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}
#product_box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
#product_li {
  border: 1px solid rgb(205, 205, 205);
  box-shadow: 2px 2px 2px 2px rgb(217, 217, 217);
  border-radius: 20px;
  margin: 20px;
  width: 270px;
  height: 400px;
}
#product_li > img {
  border-radius: 20px;
  width: 250px;
  height: 300px;
  margin: 10px;
}
#product_box li {
  display: flex;
  align-items: start;
  flex-direction: column;

}
#product_li p {
  margin-left:30px;
}
#name {
  font-size: 20px;
  font-weight: bold;
}
#yellow {
  color:rgb(255, 200, 0);
  font-size: 18px;
}
#star p {
  float:left;
}
#star button {
  width: 60px;
  height: 30px;
  margin-left:40px;
  background-color: #10e195;
  border-radius: 10px;
  border:none;
}